

<!DOCTYPE html>
<html>
<body>

<h2>Spectacular Mountain</h2>
<img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">

<h1> Never never give up </h1>

<h2> cw, i love you.</h2>
</body>
</html>
